<p id="notice"><%= notice %></p>

<h1>Últimos 10 Requests</h1>
<table>
    <thead>
        <tr>
            <th>IP Cliente</th>
            <th>Timestamp</th>
        </tr>
    </thead>

    <tbody>
        <% @registers.each do |register| %>
        <tr>
            <td><%= register.client_ip %></td>
            <td><%= convert_time(register.date) %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>

<h4>Autor: Javier López A.</h4>
