<p id="notice"><%= notice %></p>

<h1>Últimos 10 Requests</h1>
<table>
    <thead>
        <tr>
            <th>IP Cliente</th>
            <th>Timestamp</th>
        </tr>
    </thead>

    <tbody>
        <% @registers.each do |register| %>
        <tr>
            <td><%= register.client_ip %></td>
            <td><%= register.date %></td>
        </tr>
        <% end %>
    </tbody>
</table>

Autor: Javier López A.
Nº Alumno: 14632128
